{% extends 'main/base.html' %}

{% block title %}  {% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/khabha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abu Khayal Park</h5>
          <p class="card-text">Abu Khayal Park, Abha, is a quiet park at the top of a hill that includes a children's playground, benches, and wide views of the city. You can ride bicycles, and paved walking paths surrounded by green trees and colorful roses, a beautiful view of the green mountain and large trees</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/habha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Andalusia Garden</h5>
          <p class="card-text">The charming Andalusia Abha Garden is one of the most beautiful and famous gardens and one of the most wonderful tourist places in Abha. It is famous for the large number of restaurants, and for this reason it was called (Restaurant Street), and it is also close to the best hotels in Abha, which makes it a destination for travelers from everywhere, characterized by wide green spaces, calm atmosphere, In addition to its privileged location and containing a large number of restaurants, not only this, but also includes areas designated for exercise, walking paths, and a play area far from the public street, to suit children to play safely..</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/cabha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">high city</h5>
          <p class="card-text">The high city is located in the middle of a strategic location in Abha, surrounded by a group of elegant hotels and family parks. A pleasant confusion to choose between restaurants and cafes inside the high city, as its menus vary, while the external views available in most places take you on an amazing visual journey. And you will enjoy the cloudy atmosphere in the afternoon of the day from the views outside.</p>
        </div>
      </div>
    </div>
   
  </div>
{% endblock %}