{% extends 'main/base.html' %}

{% block title %} {% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/mth.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Al-Ula Museum</h5>
          <p class="card-text">The Al-Ula Museum is a historical museum that deals with everything related to the history and civilization of the region, and it is visited by tourists and visitors to learn about the ancient events and stories related to the city. If you are a fan of history and civilization, you must visit this museum.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/mnt.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">old town</h5>
          <p class="card-text">The old town in the city of Al-Ula is considered as a remnant and ruins of a distinguished group of ancient buildings, built of mud bricks and stones. The history of this town dates back to the fourteenth century AD, and it is considered one of the prominent tourist places in the Al-Ula region of Madinah, as it displays the way of life at this time, and the acquaintance with the ancient heritage civilization of this wonderful region./p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/ghrm.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grammeel Al-Ula</h5>
          <p class="card-text">Grammeel Al-Ula is represented by amazing rock formations, surrounded by a group of pearls of the great Milky Way galaxy. Grammell, the city of Al-Ula in Medina, attracts many tourists to it, to enjoy seeing this wonderful atmosphere in it.
            When the evening falls, and the sky of Al-Ula darkens, the charming Milky Way lamps are illuminated, and the sky appears clear, with nothing but the wonderful lights of the galaxy, whose glow, of course, is reflected in the beautiful formations of the Garamil. It is one of the most beautiful places of tourism in Al-Ula at all.</p>
        </div>
      </div>
    </div>
   
  </div>
{% endblock %}