{% extends 'main/base.html' %}

{% block title %}  {% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/cjed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeddah Corniche</h5>
          <p class="card-text">The Jeddah waterfront, which is considered one of the most important tourist places in Jeddah, is characterized by the presence of extended and open spaces, as it is a favorite destination for families to picnic, and children play in the gardens and fountains sprinklers.

            The waterfront in Jeddah is divided into 7 squares: Al-Nawras Square, Al-Asdaf Square, and Al-Tawhid Square. Sand Square, Pearl Square, Al Sayad Square and Gulf Square.
            Also, it includes play areas for children and green spaces for families to sit</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/acjed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jeddah Aquarium </h5>
          <p class="card-text">Jeddah Aquarium contains a group of aquariums in which large and rare fishes are displayed.
            Also, it includes sharks that can be seen directly, seals and sea lions, and there are dolphin shows, and it is considered one of the most beautiful tourist places in Jeddah..</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/odjed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Historic Jeddah</h5>
          <p class="card-text">Historic Jeddah is one of the most important tourist places in Jeddah. Historic Jeddah includes country designs for balconies, stone walkways, and ancient sidewalks, as this wonderful destination holds secrets that inspired artists and writers. Tourism in Historic Jeddah is an opportunity for history and culture lovers to know history.
            Therefore, when you decide to visit Jeddah, you will get to see the most beautiful scenes of house design and ancient architecture.</p>
        </div>
      </div>
    </div>
   
  </div>
{% endblock %}