{% extends 'main/base.html' %}

{% block title %}  {% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      
       
      <div class="card h-100">
        <img src="/static/img/bole.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">boulevard</h5>
          <p class="card-text">It contains 9 areas, each of which is characterized by its own set of events, restaurants, cafes, gardens, international game centers, festivals, and stores designed for all tastes and ages, most notably the fountain area, which provides different shows of laser lighting, colors and music that harmonize with it. It includes the largest cinemas in Saudi Arabia with 25 screens, an electric car arena, 4 theaters, a skating rink, and a children's area containing approximately 500 electronic games. It is distinguished by its continuity, which makes full use of its facilities throughout the year and during the coming years, as it is considered an exceptional project, according to high standards that make it the first destination for visitors to the city of Riyadh.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/buj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AlBujairi </h5>
          <p class="card-text">In Al-Bujairi overlook, there are many international and local restaurants and shops, on an area of ​​​​15 thousand square meters, with details inspired by the originality of Najd, its history full of architecture, and amazing historical views in the Al-Turaif neighborhood, which is included in the UNESCO World Heritage List, where you can enjoy landscapes with a group picnic. Or individually, in the designated bicycle lanes in Al-Muttal, or wandering in the paths that trace the traces of the Kingdoms history and its stories./p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/img/lib.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The King Fahd Library </h5>
          <p class="card-text">The King Fahd Library is a wonderful masterpiece and a famous landmark of the cultural landmarks of the Kingdom of Saudi Arabia and a gateway to the world of creativity in which the originality of Arab and Islamic history rises, as the absorptive stock increased after its expansion from six hundred thousand books to two million four hundred thousand books, and the librarys area reached from 28 thousand square meters to 70 thousand square meters.</p>
        </div>
      </div>
    </div>
   
  </div>

{% endblock %}




