{% extends 'main/base.html' %}
{% block title %}

Abha {% endblock %}


{% block content %}
<div class="row align-items-center  ">
   <div class="col edit">
    <h1>Abha</h1>
<p>
    Abha is the capital of Aseer Province and has the 6th largest population in the Kingdom of Saudi Arabia. It is famous for being the highest large city of Saudi Arabia at over 2 200 meters, some parts of the city being even around 2 400 meters. 
</p> 
<p>With such an altitude it is not surprising that Abha benefits from milder climatic conditions that most the rest of the country with day temperatures ranging from 15°C to 35°C.  What is more unexpected is that while the rest of the country has one rainy season in March and May, Aseer Province enjoys a second one in July and August thanks to the Indian monsoon that reaches the southwest of Saudi Arabia.
</p>
   </div>
   <div class="col edit">
    <iframe width="600" height="500" src="https://www.youtube.com/embed/rXt-QbcpbaU?si=K9NFsaybHTNUIchX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   </div>

</div>

{% endblock %}
