{% extends 'main/base.html' %}
{% block title %}

Riyadh {% endblock %}


{% block content %}
<div class="row align-items-center  ">
   <div class="col edit">
    <h1>AlUla</h1>
<p>
    Al-Ula is the capital of the governorate of the same name that is part of Madinah Province. 
</p> 
<p>It is located in the Wadi Al-Qura, a valley oriented north-south between, on the west, the lava fields of the Harrat 'Uwayrid, and the sandstone massif of the Jibal Ath-Thumayid.
</p>
<p>
    Its underground water resources and its strategic location along the frankincense road meant this valley played a major role in the history of the Arabian Peninsula.
</p>
   </div>
   <div class="col edit">
    <iframe width="600" height="500" src="https://www.youtube.com/embed/XrM5Y5ghEHQ?si=MLG-yQc5P0HdC9it" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   </div>

</div>

{% endblock %}
