{% extends 'main/base.html' %} {% block title %} Al-Baha City {% endblock %}
{%block content %}
<div class="baha-bg"></div>
<div class="row welcoeMassege shadow p-4 gap-4" id="saudi">
  <div class="col-lg order-2 order-lg-1 d-flex flex-column align-self-center">
    <h1 class="fs-1">Serenity in the Mountains</h1>
    <h5>
      Exploring Al-Baha's Natural Charms Every year, visitors from far and wide
      are drawn to Al-Baha, captivated by its stunning mountain vistas and
      tranquil ambiance. This gathering of nature enthusiasts, adventure
      seekers, and curious travelers showcases the region's unique allure,
      fostering a sense of awe and connection with the picturesque landscapes.
      As they immerse themselves in the beauty and cultural richness of Al-Baha,
      these visitors embrace a shared appreciation for nature's wonders, leaving
      with lasting memories and a renewed connection to the land.
    </h5>
  </div>
  <div class="col text-center row-sm order-lg-2 order-1">
    <img
      src="https://th.bing.com/th/id/OIP.47gOPJ0MR6ChjLBdNlPJEAHaFj?pid=ImgDet&w=640&h=480&rs=1"
      class="rounded w-100"
    />
  </div>
</div>

<div class="card bg-dark text-white">
  <img
    src="https://th.bing.com/th/id/R.969bd5545cb6efe8dace08467652cad6?rik=FpTIH79T0RxuQQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-ZjLBHvqPiBg%2fVHdhCmQQwMI%2fAAAAAAABQFo%2fP8AYPBIS5LU%2fs1600%2f10559914_10152761990742125_1281800852743338952_n.jpg&ehk=pKA9NJdHlpcuNg%2baqlWPuOjFP%2bn5Y1WHvBOYzIYBhZQ%3d&risl=&pid=ImgRaw&r=0"
    class="w-100"
  />
  <div class="card-img-overlay">
    <h3 class="card-title">Embracing Nature's Palette</h3>
    <p class="card-text w-50">
      Al-Baha's Weather and Landscape Harmony Al-Baha's weather complements its
      diverse landscape, ranging from mild temperatures in the valleys to cooler
      climates atop its majestic mountains. This harmonious blend creates a
      unique experience, where visitors can escape the heat and revel in
      nature's beauty. As they explore the lush greenery and refreshing breezes,
      they find respite from the ordinary, immersing themselves in a world where
      weather and landscape seamlessly intertwine.
    </p>
  </div>
</div>
{% endblock %}
