{% extends 'main/base.html' %}


{%block title%}Saudi Arabia{%endblock%}

      

         


  {% block content %}

  <div class="font">
    <h1>Saudi Arabia </h1>
   <div class="fontt">
   <h4>Saudi Arabia is full of rich natural and historical spectacles</h4>
     <h6 >
      Saudi Arabia is a land of abundant natural and historical spectacles. It has been a travel destination for Muslim pilgrims for centuries from all over the world.
      In Saudi Arabia, tourism was associated only with religious travelling until a few years ago. However, the trend has changed in recent years,
      and now leisure tourism has also become an important area of development for the Saudi government .
     </h6>
   </div>
  </div>


  {% endblock %}
