{% extends 'main/base.html' %}


{%block title%}Saudi Arabia{%endblock%}

      

         


  {% block content %}

  <div class="font fw-bolder fs-1 text-white   ">
    <p>Saudi Arabia </p>
   <div class="fs-6 fw-lighter  ">
     <p >
      Saudi Arabia is a land of abundant natural and historical spectacles. It has been a travel destination for Muslim pilgrims for centuries from all over the world.
      In Saudi Arabia, tourism was associated only with religious travelling until a few years ago. However, the trend has changed in recent years,
      and now leisure tourism has also become an important area of development for the Saudi government .
     </p>
   </div>
  </div>



  {% endblock %}
