{% extends 'main/base.html' %}
{%load static%}

{% block title %}  Jeddah City {% endblock %}




 





{%block image%} 

<div class="video_backgroound">
  <video id="background-video" autoplay loop muted>
      <source src="/static/video/Jeddah_video.mp4" type="video/mp4">

  </video>
</div>

{%endblock%}







{%block content%} 

<div class="container pt-4"> 
    <div class="row">
        <div class="col mt-5 " >
            <div class="p-5 rounded " style="background-color:black; font-size: 20px;"> 
            <p style="color:white;"> Jeddah is a saudi city located in the middle of the eastern coast of the red sea known as the Bride of the Red Sea and is considered the economic and tourism capital of the country. Its population is estimated around 3.4 million and it is the second largest city after Riyadh.<a style="color: rgba(248, 145, 10, 0.988);" href="https://www.jeddah.gov.sa/english/jeddahcity/about/index.php" target="_blank"> click here for more.</a> </p>
            </div>
        </div>


        <div class="col">
            <div id="carouselExampleCaptionsss" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="6" aria-label="Slide 7"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="7" aria-label="Slide 8"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="8" aria-label="Slide 9"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="9" aria-label="Slide 10"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="10" aria-label="Slide 11"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="11" aria-label="Slide 12"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="12" aria-label="Slide 13"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="13" aria-label="Slide 14"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="14" aria-label="Slide 15"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="15" aria-label="Slide 16"></button>

                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/images/jeddah_slide.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3> Best recommended restaurant and cafe in Jeddah</h3>
                    </div>

                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/mathaqzaman1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Mathaq Zaman</h5>
                      <p>specializes in the most delicious Hijazi dishes. <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/%D8%B9%D8%B1%D9%8A%D9%83%D8%A9+%D8%A7%D9%84%D8%A8%D9%84%D8%AF+%D9%85%D8%B0%D8%A7%D9%82+%D8%B2%D9%85%D8%A7%D9%86%E2%80%AD/@24.6059749,46.6223465,15z/data=!4m2!3m1!1s0x0:0xcfcb0898a86c6ce5?sa=X&ved=2ahUKEwj-54ar0vOAAxVdaqQEHRMaAIMQ_BJ6BAg2EAA&ved=2ahUKEwj-54ar0vOAAxVdaqQEHRMaAIMQ_BJ6BAhGEAg" target="_blank"> <b>  click to go to loction </b>  </a> </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                        <img src="/static/images/mathaqzaman2.jpg" class="d-block w-100 h-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5> some food from mathaq zaman </h5>
                        </div>
                  </div>

                  <div class="carousel-item">
                    <img  src="/static/images/mathaqzaman3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/mathaqzaman4.jpg" class="d-block w-100 h-100" alt="...">
                  </div>




                  <div class="carousel-item">
                    <img src="/static/images/Farfly1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Farfly restaurant</h5>
                      <p> The Italian Cuisine <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/The+Italian+Cuisine/@21.575658,39.1514501,14z/data=!4m6!3m5!1s0x15c3da90caaa358f:0x9cbcc32f73f0159c!8m2!3d21.575678!4d39.1426525!16s%2Fg%2F11cnccrk0c?entry=ttu" target="_blank"><b>  click to go to loction </b> </a> </p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/Farfly2.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>some food from farfly restaurant</h5>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/Farfly3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>





                  <div class="carousel-item">
                    <img src="/static/images/cup_couch_cafe1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> cup & couch cafe </h5>
                      <p> Niace place to relax <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/%D9%85%D9%82%D9%87%D9%89+%D9%88%D9%85%D8%AD%D9%85%D8%B5%D8%A9+%D9%83%D9%88%D8%A8+%D9%88%D9%83%D9%86%D8%A8%D8%A9%E2%80%AD/@21.5964723,39.1452255,15z/data=!4m2!3m1!1s0x0:0x5e442635a1a3d937?sa=X&ved=2ahUKEwiQvLSl1fOAAxX7SKQEHWQ3B70Q_BJ6BAhFEAA&ved=2ahUKEwiQvLSl1fOAAxX7SKQEHWQ3B70Q_BJ6BAhiEAg" target="_blank"><b> click to go to loction </b> </a> </p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/cup_couch_cafe2.jpg" class="d-block w-100 h-100" alt="...">
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/cup_couch_cafe3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/cup_couch_cafe4.jpg" class="d-block w-100 h-100" alt="...">
                  </div>







                  <div class="carousel-item">
                    <img src="/static/images/Rawnah1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Rawnah cafe</h5>
                      <p>It has a variety of desserts <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/%D8%B1%D9%8E%D9%88%D9%92%D9%86%D9%8E%D9%87+%D9%85%D8%AD%D9%85%D8%B5%D8%A9+%D9%88%D9%82%D9%87%D9%88%D8%A9+%D9%85%D8%AE%D8%AA%D8%B5%D8%A9+%7C+%D8%A7%D9%84%D8%B4%D8%B1%D9%81%D9%8A%D8%A9%E2%80%AD/@21.5053572,39.1826514,15z/data=!4m6!3m5!1s0x15c3cf02a69f683d:0x58231744d9a0654b!8m2!3d21.5053572!4d39.1826514!16s%2Fg%2F11fj478zdy?entry=ttu" target="_blank"><b>  click to go to loction </b> </a> </p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/Rawnah2.jpg" class="d-block w-100 h-100" alt="...">
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/Rawnah3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/Rawnah4.jpg" class="d-block w-100 h-100" alt="...">
                  </div>
  
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>





              <div id="carousel2" class="carousel slide pt-4">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>

                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/images/activity_jeddah.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Activity in Jeddah </h4>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/diving_jeddah.JPG" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Diving Trip with All Equipment in Jeddah</h5>
                      <p> <a style="color: white; background-color: black;" href="https://www.ootlah.com/en/attractions-sampjdh-oth5449-diving-trip-with-all-equipment-in-jeddah.html" target="_blank"><b> click here for more information  </b> </a> </p></p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/hstoric_Jeddah.JPG" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Historic Jeddah</h5>
                      <p> Historic Jeddah includes a number of monuments and archaeological and heritage buildings<a style="color: rgba(248, 145, 10, 0.988);" href="https://www.thenationalnews.com/lifestyle/travel/explore-al-balad-9-things-to-do-in-jeddah-s-oldest-neighbourhood-1.917849" target="_blank">  <b> click here for more information</b> </a></p>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/Things-To-Do-in-Jeddah.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Things to do in Jeddah </h5>
                      <p style="background-color: black"> for more tourist schedule in Jeddah<a style="color: rgba(248, 145, 10, 0.988);" href="https://www.visitsaudi.com/en/see-do/destinations/jeddah" target="_blank">  <b> click here</b> </a></p>
                    </div>
                  </div>


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              
        </div>
    </div>
  </div>

{%endblock%}