{% extends 'main/base.html' %}
{% block title %}

Riyadh {% endblock %}


{% block content %}
<div class="row align-items-center  ">
   <div class="col edit">
    <h1>Makkah</h1>
<p>
    Mecca, Arabic Makkah, ancient Bakkah, city, western Saudi Arabia, located in the Ṣirāt Mountains, inland from the Red Sea coast.
</p> 
<p> It is the holiest of Muslim cities. Muhammad, the founder of Islam, was born in Mecca, and it is toward this religious centre that Muslims turn five times daily in prayer (see qiblah). All devout and able Muslims attempt a hajj (pilgrimage) to Mecca at least once in their lifetime. Because it is sacred, only Muslims are allowed to enter the city.
</p>

   </div>
   <div class="col edit">
    <iframe width="600" height="500" src="https://www.youtube.com/embed/yKTVqPaNJIw?si=48gHhMz73pNL39iI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   </div>

</div>

{% endblock %}
