{% extends 'main/base.html' %} {% block title %} Makkah City {% endblock %}
{%block content %}
<div class="makkah-bg"></div>
<div class="row welcoeMassege shadow p-4 gap-4" id="saudi">
  <div class="col-lg order-2 order-lg-1 d-flex flex-column align-self-center">
    <h1 class="fs-1">Gathering of Devotion: The Pilgrimage to Makkah's Hajj</h1>
    <h5>
      Every year, millions of pilgrims from diverse corners of the world
      converge upon Makkah, united by faith, to embark on the sacred journey of
      Hajj. This gathering of cultures, languages, and backgrounds reflects the
      universal appeal of Islam, forging bonds of brotherhood and devotion that
      transcend borders. As they navigate the rituals and traditions of Hajj,
      these pilgrims embody a shared commitment to spiritual renewal,
      reinforcing the enduring significance of this annual pilgrimage.
    </h5>
  </div>
  <div class="col text-center row-sm order-lg-2 order-1">
    <img
      src="https://th.bing.com/th/id/R.ec666c719ad25fc0c92194228ab498a1?rik=91NyOcfFQKQn%2bA&pid=ImgRaw&r=0"
      class="rounded w-100"
    />
  </div>
</div>

<div class="card bg-dark text-white">
  <img
    src="https://th.bing.com/th/id/R.237b8cbecdbc81c5a502483fce708985?rik=L2JGDVG3KLCH9g&pid=ImgRaw&r=0"
    class="w-100"
  />
  <div class="card-img-overlay">
    <h3 class="card-title">Hajj</h3>
    <p class="card-text w-50">
      Hajj, the Islamic pilgrimage, is a profound journey that millions
      undertake to Makkah. It encompasses sacred rituals, including
      circumambulating the Kaaba and standing on the plain of Arafat, fostering
      spiritual renewal and unity among Muslims. As the fifth pillar of Islam,
      Hajj holds deep historical and religious significance, serving as a
      pinnacle of devotion and submission to Allah. This annual pilgrimage
      underscores the global community's connection and commitment to faith.
    </p>
  </div>
</div>

{% endblock %}
