{% extends 'main/base.html' %}
{%load static%}

{% block title %}  Riyadh City {% endblock %}

{%block image%} 

<div style="background-image: linear-gradient(rgba(179,175,175,0),rgba(0,0,0,9)) , url('/static/images/Riyadh_background.jpg') " class="backimage chimg">

</div>

{%endblock%}

{%block content%}

 <div class="container pt-4"> 
    <div class="row justify-content-center align-items-center">
        <div class="col mt-5 " >
            <div class="p-3 rounded " style="background-color:whitesmoke; opacity: 0.5;"> 
            <p style="color: black; font-size: 20px;"> <b> Riyadh capital of Saudi Arabia. The city’s name is derived from the plural of the Arabic rawḍah, meaning gardens or meadows, so named for a natural fertility provided by its location at the juncture of Wadis Ḥanīfah and Al-Baṭḥāʾ <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.britannica.com/place/Riyadh " target="_blank"> click here for more.</a> </p> </b>
            </div>

            <div class="col pt-5 mt-4">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-ht6pLR3vcY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>
        <div class="col">
            <div id="carouselExampleCaptionsss" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="6" aria-label="Slide 7"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="7" aria-label="Slide 8"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="8" aria-label="Slide 9"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="9" aria-label="Slide 10"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="10" aria-label="Slide 11"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="11" aria-label="Slide 12"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="12" aria-label="Slide 13"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="13" aria-label="Slide 14"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide-to="14" aria-label="Slide 15"></button>

                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/images/tourismsaudi.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3> Best recommended restaurant and cafe in Riyadh</h3>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/wagyu_burger1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Wagyu Burger</h5>
                      <p>american restaurants click here to go to <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/%D9%88%D8%A7%D9%82%D9%8A%D9%88%E2%80%AD/@24.7030032,46.7059872,15z/data=!4m6!3m5!1s0x3e2f030bd8e2f2f9:0x87d1a9a27e532bd3!8m2!3d24.7030032!4d46.7059872!16s%2Fg%2F11c0w3_x4p?entry=ttu" target="_blank"> <b>  click to go to loction </b>  </a> </p>
                    </div>
                  </div>

                  
                  <div class="carousel-item">
                    <img src="/static/images/wagyu_burger2.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> some food from Wagyu Burger</h5>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/wagyu_burger3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/wagyu_burger4.jpg" class="d-block w-100 h-100" alt="...">
                  </div>




                  <div class="carousel-item">
                    <img src="/static/images/myazu1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> myazu restaurant</h5>
                      <p> Modern eatery plating standard rolls & cooked Japanese classics in a bustling, wood-accented space.<a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/%D9%85%D9%8A%D8%A7%D8%B2%D9%88%E2%80%AD/@24.7054928,46.7031337,17z/data=!4m6!3m5!1s0x3e2f030b790b8bf1:0x74edaa5821a6451!8m2!3d24.6998639!4d46.7049361!16s%2Fg%2F11b60h49gx?entry=ttu" target="_blank"><b>  click to go to loction </b> </a> </p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/myazu2.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>some food from myazu restaurant</h5>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/myazu3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>

                  <div class="carousel-item">
                    <img src="/static/images/myazu4.jpg" class="d-block w-100 h-100" alt="...">
                  </div>





                  <div class="carousel-item">
                    <img src="/static/images/susam1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Susam cafe</h5>
                      <p> It has a variety of desserts <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/SUSAM+COFFEE+AND+BAKERY/@24.8204645,46.6458302,15z/data=!4m2!3m1!1s0x0:0xb87f470da987ccdb?sa=X&ved=2ahUKEwiAksGNsvOAAxVbU6QEHcM-CH4Q_BJ6BAhNEAA&ved=2ahUKEwiAksGNsvOAAxVbU6QEHcM-CH4Q_BJ6BAhjEAg" target="_blank"><b> click to go to loction </b> </a> </p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/susam2.jpg" class="d-block w-100 h-100" alt="...">
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/susam3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>






                  <div class="carousel-item">
                    <img src="/static/images/dopeamine1.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Dopeamine cafe</h5>
                      <p> Niace place to relax <a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/Dopeamine+%D8%AF%D9%88%D8%A8%D8%A7%D9%85%D9%8A%D9%86%E2%80%AD/@24.7362883,46.6482287,15.42z/data=!4m17!1m10!3m9!1s0x3e2ee346b6647527:0x4f71fe66bb7fb960!2zRG9wZWFtaW5lINiv2YjYqNin2YXZitmG!8m2!3d24.7351517!4d46.6476486!10e5!14m1!1BCgIgAQ!16s%2Fg%2F11srmlgzpb!3m5!1s0x3e2ee346b6647527:0x4f71fe66bb7fb960!8m2!3d24.7351517!4d46.6476486!16s%2Fg%2F11srmlgzpb?entry=ttu" target="_blank"><b>  click to go to loction </b> </a> </p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/dopeamine2.jpg" class="d-block w-100 h-100" alt="...">
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/dopeamine3.jpg" class="d-block w-100 h-100" alt="...">
                  </div>
  
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptionsss" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>





              <div id="carousel2" class="carousel slide pt-5">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/images/activity_riyadh.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Activity in Riyadh</h4>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/riyadh_season.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Riyadh Season</h5>
                      <p style=>Riyadh Season is one of the world’s largest winter entertainment event. Variety of food from around the world, courtesy of exclusive restaurants plus countless exciting surprises</p>
                      <p> <a style="color: rgba(210, 241, 5, 0.988);" href="https://ticketmx.riyadhseason.sa/en/g/10/riyadh-season" target="_blank"><b> click to view riyadh season actvity </b> </a> </p></p>
                    </div>
                  </div>


                  <div class="carousel-item">
                    <img src="/static/images/barn_horse.jpg" class="d-block w-100 h-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> Horse riding</h5>
                      <p > horse riding club during your horse riding tour, you will be greeted and accompanied by a professional service crew .<a style="color: rgba(248, 145, 10, 0.988);" href="https://www.google.com/maps/place/%D9%86%D8%A7%D8%AF%D9%8A+%D8%A7%D9%84%D8%B9%D8%B1%D9%8A%D9%86+%D9%84%D9%84%D9%81%D8%B1%D9%88%D8%B3%D9%8A%D8%A9%E2%80%AD/@24.9291676,46.8304361,15z/data=!4m2!3m1!1s0x0:0xcf53f38a6a79f176?sa=X&ved=2ahUKEwiBivykuvOAAxVXTaQEHX-kDtEQ_BJ6BAg-EAA&ved=2ahUKEwiBivykuvOAAxVXTaQEHX-kDtEQ_BJ6BAhYEAg" target="_blank">  <b> click to go to location</b> </a></p>
                    </div>
                  </div>


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              
        </div>
    </div>
  </div>

{%endblock%}