{% extends 'main/base.html' %}
{% block title %}
Riyadh
{% endblock %}
{% block herovideo %}

<div class="video-container">
  <div id="video-background">
    <video autoplay loop muted>
      <source src="/static/R1.MP4" type="video/mp4">
    </video>
  </div>
</div>
{% endblock %}

{% block content %}
<div class=" conteier " style="margin-top: 85vh;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container d-flex align-items-center justify-content-center text-center h-200">
        <div class="text-white">
          <h1 class="mb-3"> Riyadh City</h1>
          <h5 class="mb-4"> Riyadh is known for its diverse range of tourist attractions, entertainment options, and
            cultural landmarks. One notable event that takes place in Riyadh is the Riyadh Season, an annual event that
            features numerous cultural and entertainment festivals.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5 pb-5 w-50">
    <div id="carouselExampleControls" class="carousel slide carousel-light" data-bs-ride="carousel">

      <div class="carousel-inner">

        <div class="carousel-item active">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/tourister-c4e4e.appspot.com/o/R1.webp?alt=media&token=12cc947b-9e28-4c94-8a66-a03904cc3571"
            class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item ">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/tourister-c4e4e.appspot.com/o/r2.webp?alt=media&token=26555268-7d2b-46f6-bf92-6a35d53ea400"
            class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item ">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/tourister-c4e4e.appspot.com/o/r3.jpeg?alt=media&token=fb32b297-02b3-4730-872f-0c19ef49d553"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/tourister-c4e4e.appspot.com/o/r4.jpeg?alt=media&token=1dd366db-f896-4aab-9d79-ecd70685d20a"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/tourister-c4e4e.appspot.com/o/r5.jpeg?alt=media&token=0a3ff53b-b5e8-4fcb-a39d-cc2276274f2c"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/tourister-c4e4e.appspot.com/o/r6.jpeg?alt=media&token=468ced02-d3ec-4bb6-af2d-67febc37466c"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/tourister-c4e4e.appspot.com/o/r7.jpeg?alt=media&token=06d99bdb-290c-41da-b5cd-b5001556bbd7"
            class="d-block w-100" alt="...">
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>
{% endblock %}