{% extends 'main/base.html' %} {% block title %} Riyadh City {% endblock %}
{%block content %}
<div class="riyadh-bg"></div>
<div class="row welcoeMassege shadow p-4 gap-4" id="saudi">
  <div class="col-lg order-2 order-lg-1 d-flex flex-column align-self-center">
    <h1 class="fs-1">
      Under the night sky, Riyadh's illuminated skyline captures the city's
      vibrant energy and modern allure.
    </h1>
    <h5>
      Riyadh, the capital of Saudi Arabia, stands as a testament to modern
      development, with skyscrapers and bustling commerce painting its skyline.
      Rooted in history, it also embraces cultural heritage through traditional
      souks and landmarks like Masmak Fortress. As the center of political,
      economic, and cultural activity, Riyadh exudes both Arabian charm and
      global connectivity. The city's rich tapestry weaves together the past and
      present, offering visitors a glimpse into Saudi Arabia's diverse and
      evolving identity.
    </h5>
  </div>
  <div class="col text-center row-sm order-lg-2 order-1">
    <img
      src="https://i.pinimg.com/474x/20/68/b9/2068b95ee052442f5889099812ccb66d--riyadh-saudi-arabia-travel-kids.jpg"
      class="rounded w-100"
    />
  </div>
</div>

<div class="card bg-dark text-white">
  <img
    src="https://th.bing.com/th/id/R.a539649da89de2ed4185d63451129176?rik=IPXQlBSbwmjF9g&pid=ImgRaw&r=0"
    class="w-100"
  />
  <div class="card-img-overlay">
    <h3 class="card-title">Riyadh Season</h3>
    <p class="card-text w-50">
      Riyadh Season is a vibrant annual festival that engulfs the city in a
      whirlwind of entertainment, cultural events, and culinary delights,
      attracting locals and visitors alike. Showcasing concerts by international
      artists, thrilling amusement parks, and traditional markets, Riyadh Season
      encapsulates the city's dynamic spirit and diverse offerings. From
      immersive experiences to family-friendly attractions, this festival offers
      a unique opportunity to celebrate Riyadh's rich culture and modern
      aspirations.
    </p>
  </div>
</div>

{% endblock %}
