
{% extends 'main/base.html' %}


{%block title%}Riyadh{%endblock%}





{% block content %}



<span class="bordere ">
<div class="container " id="carousel">
  <div class="row">
    <div class="col">

      <div id="c1" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#c1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#c1" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#c1" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">

          <div class="carousel-item active  ">
            <img src="/static/images/riyadh6.jpeg" class="d-block w-100 rounded-pill"  >
            
          </div>
          <div class="carousel-item">
            <img src="/static/images/riyadh2.jpeg" class="d-block w-100 rounded-pill"  > 
          </div>
          <div class="carousel-item">
            <img src="/static/images/riyadh5.jpeg" class="d-block w-100 rounded-pill"  >
         </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#c1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#c1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
  </div>
 </div>

</span>
 
 <div class="end">
  <div  style="max-width: 25rem;">
   <div class="fw-bolder fs-1 text-white">Riyadh</div>
     <p class="fw-light fs-6 text-white">Riyadh is the capital and largest city of Saudi Arabia.It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud desert, on the eastern part of the Najd plateau.</p>
   
 </div>
 
 <div class="card " style="width: 18rem;">
   <img src="/static/images/saudi2.jpeg" class="card-img-top" alt="...">
   <div class="card-body ">
     <h5 class="card-title "> Riyadh City 2023</h5>
     <p class="card-text  "> Riyadh City Tour, Saudi Arabia </p>
     <a href="https://www.youtube.com/watch?v=-ht6pLR3vcY" class="btn btn-primary stretched-link bg-success "> #Riyadh2023 </a>
   </div>
  </div>
 </div>
{% endblock %}