{% extends 'main/base.html' %}

{% block title %}

Abha city

{% endblock %}

{% block content %}

<div class="mt-3 mb-3 ms-5 me-5 p-2">
    <h1 class="me-3 text-center ">Abha The City of Fog <h1>
        

    <h5 class="ms-4 text-center fs-6 mb-3" > 
        is ideally located in southwestern region of Saudi Arabia. 
        Its exceptional location allows you to embrace the clouds and wonder around its mountaintops. 
        While consumed with astonishment and amusement, you will feel like time traveling hundreds of years back in time as you stumble upon castles and palaces built from the elements taken from their unspoiled environment.   
        Making your way through the fog, even in summertime, you will easily find its plains and cliffs and its rich diversity. 
    </h5>
    <div class="mb-3 ms-md-3 text-center">
        <div class="embed-responsive  embed-responsive-background  "  width="100" height="auto" >
            <iframe src="https://www.youtube.com/embed/BDF-zz-q5ws" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>        </div>
    </div> 
    
</div> 

{% endblock %}