{% extends 'main/base.html' %}

{% block title %}

Alula city

{% endblock %}

{% block content %}
<div class="mt-3 mb-3 ms-5 me-5 p-2">
    <h1 class="me-3 text-center">AlUla The Capital of Monuments<h1>

    <h5 class="ms-4 text-center fs-6 mb-3" > 
        AlUla was also capital of the ancient kingdoms of Dadan and Lihyan, which controlled the caravan trade. Hegra, a UNESCO World Heritage Site, was the principal southern city of the Nabataean kingdom, famed for its spectacular monumental tombs. Today, Old Town AlUla is an abandoned labyrinth of streets tightly packed to create a defensive wall, and seemingly built over an ancient settlement.
            This largely undiscovered expanse holds a timeless mystery that has been carried through its complex history. Layer upon layer of human history and a wealth of natural wonders are waiting to be explored, from dramatic rock formations and sand-swept dunes to archaeological ruins that trace the lives of the ancient cultures who built cities here.
            Come and see the World's Masterpiece.
    </h5>
    <div class="mb-3 ms-md-3 text-center">
        <div class="embed-responsive  embed-responsive-background  "  width="100" height="auto" >
            <iframe src="https://www.youtube.com/embed/emvy30hUfoE" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> 
    
</div> 
{% endblock %}