{% extends 'main/base.html' %}

{% block title %}

Mekkah city

{% endblock %}

{% block content %}

<div class="mt-3 mb-3 ms-5 me-5 p-2">
    <h1 class="me-3 text-center"> Makkah The Holy City <h1>

    <h5 class="ms-4 text-center fs-6 mb-3" > 
        is Birthplace of Prophet Muhammad (Peace & Blessings of God Be Upon Him) and Islam. 
        It is the Holiest City for Muslims and believers from all over the world visit Makkah to perform pilgrimage (Hajj and Umrah) and visit the Holy sites. 
        The most prominent landmark on earth - The Holy Kaaba (Ka’bah) is located in Makkah. 
        It serves as the religious centre for Muslims and they pray five times a day by facing the direction of the Kaaba.
    </h5>
    <div class="mb-3 ms-md-3 text-center">
        <div class="embed-responsive  embed-responsive-background  "  width="100" height="auto" >
            <iframe src="https://www.youtube.com/embed/WcFfPbjmP04" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>        </div>
    </div> 
    
</div> 

{% endblock %}