{% extends 'main/base.html' %}

{% block title %}

Riyadh city

{% endblock %}

{% block content %}

<div class="mt-3 mb-3 ms-5 me-5 p-2">
    <h1 class="me-3 text-center">Riyadh Live the Modern Life to its Fullest<h1>

    <h5 class="ms-4 text-center fs-6 mb-3" > 
            In the ever-growing and flourishing city, you will discover the birthplace of the Kingdom of Saudi Arabia, along with its historical treasures hidden in the old palaces that witnessed the founding of the kingdom.
            It is an environment full of a natural variety and unique characteristics that are intriguing for explorers.
    </h5>
    <div class="mb-3 ms-md-3 text-center">
        <div class="embed-responsive  embed-responsive-background  "  width="100" height="auto" >
            <iframe src="https://www.youtube.com/embed/35g7UMVbfPc" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>        </div>
    </div> 
    
</div> 

{% endblock %}