{% extends 'main/base.html' %}
{% block tit%} Abha {% endblock %}

{% block con%}
<div class="container">

  </div>
<div
class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
style="background-image: url('/static/images/abhabig.jpg '); background-size: cover; 
height: 100vh;"
>
<h1 class="mb-3 h2 justify-content-center align-items-center"><br><br>ابها </h1>

<p class="fs-1 ">
<br><br>
مدينة أبها هي المقر الإداري وعاصمة منطقة عسير جنوب غرب المملكة العربية السعودية وأهم مدنها</p>
</div>


    
    
    <section class="text-center">
        <h4 class="mb-5"><strong>اماكن للسياحة</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple ripple-surface-light" data-mdb-ripple-color="light" >
                <img src="  /static/images/green.jpg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">الجبل الاخضر </h5>
                <p class="card-text">
                    الجبل الاخضر  يُعتبر واحداً من أهم وأبرز الوجهات السياحيّة في المدينة؛ وذلك بسبب ارتفاعه وإطلالته الرائعة التي تكشف جميع معالم أبها

</p>
                <a href="https://ar.wikipedia.org/wiki/%D9%85%D9%84%D9%81:%D8%A7%D9%84%D8%AC%D8%A8%D9%84_%D8%A7%D9%84%D8%A3%D8%AE%D8%B6%D8%B1_-_%D8%A3%D8%A8%D9%87%D8%A7.JPG" class="btn btn-primary " target=”_blank”>الجبل الاخضر</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="  /static/images/mn.jpg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"> منتزه الملك عبد العزيز</h5>
                <p class="card-text">
                  
                    منتزه الملك عبد العزيز في السودة أسعد الأجواء المصيفية بصحبة عائلتك بكل تأكيد، فهو يتمتع بأجواء مناخية رائعة؛ لوقوعه شمال جبل السودة</p>
                <a href="https://ar.wikipedia.org/wiki/%D9%85%D9%86%D8%AA%D8%B2%D9%87_%D8%A7%D9%84%D9%85%D9%84%D9%83_%D8%B9%D8%A8%D8%AF_%D8%A7%D9%84%D9%84%D9%87_%D8%A7%D9%84%D9%88%D8%B7%D9%86%D9%8A" class="btn btn-primary" target="_blank"> منتزه الملك عبد العزيز</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="/static/images/hb.webp" class="img-fluid">
                <a href="">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"> قرية الحبلة</h5>
                <p class="card-text">
                    قرية الحبلة هي قرية تراثية وأثرية، وتعد من أهم وجهات السياحة في أبها التاريخية. سميت بهذا الإسم لأن وسيلة الإنتقال منها وإليها كانت عن طريق الحبال.</p>
                <a href="https://ar.wikipedia.org/wiki/%D8%A7%D9%84%D8%AD%D8%A8%D9%84%D8%A9_(%D8%B9%D8%B3%D9%8A%D8%B1)"  target="_blank" class="btn btn-primary">قرية الحبلة</a>
              </div>
            </div>
          </div>
        </div>
      </section>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    


{% endblock %}