{% extends 'main/base.html' %}
{% block tit%} Alula {% endblock %}

{% block con%}
<div class="container">

  </div>
<div
class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
style="background-image: url('/static/images/ola.jpg'); background-size: cover; 
height: 100vh;"
>
<h1 class="mb-3 h2  justify-content-center align-items-center"><br><br>العلا </h1>

<p class="fs-1 ">
<br><br>
تُعدّ العلا واحةً قديمةً تقع في قلب وادٍ صحراوي ذو تربةٍ خصبةٍ ومياهٍ وفيرة. وهي نقطة التقاء ثلاث قارات 
</p>
</div>


    
    
    <section class="text-center">
        <h4 class="mb-5"><strong>اماكن للسياحة</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple ripple-surface-light" data-mdb-ripple-color="light" >
                <img src="  /static/images/mer.jpg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">قاعة مرايا</h5>
                <p class="card-text">
                    قاعة مرايا، تحفة فنية حقيقية تتربّع الأودية الصحراوية في العلا. تنهض قاعة مرايا من الرمال مثل السراب، وتُغطي هيكل المبنى ألواح عاكسة تُظهر جمال العلا وتتناغم مع المناظر الطبيعية المحيطة                </p>
                <a href="https://www.experiencealula.com/ar/business-special-events/maraya" class="btn btn-primary " target=”_blank”>قاعة مرايا</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="  /static/images/oldde.jpg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">البلدة القديمة</h5>
                <p class="card-text">
                    البلدة القديمة حكاية حضارتها الإنسانية التي ازدهرت على طُرق التجارة القديمة. تضم البلدة القديمة، وهي جزء من بلدة العلا القديمة</p>
                <a href="https://www.experiencealula.com/ar/discover-alula/heritage/alula-old-town " class="btn btn-primary" target="_blank">البلدة القديمة</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="/static/images/wah.jpg" class="img-fluid">
                <a href="">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">الواحة</h5>
                <p class="card-text">
                    الواحة هي جزء من بلدة العلا القديمة التي حصلت على لقب أفضل قرية سياحية بتصنيف منظمة السياحة العالمية.

                    ازدهرت مزارع الواحة الغنّاء منذ آلاف السنين</p>
                <a href="https://www.experiencealula.com/ar/discover-alula/alula-old-town-village/the-oasis"  target="_blank" class="btn btn-primary">الواحة</a>
              </div>
            </div>
          </div>
        </div>
      </section>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    


{% endblock %}