{% extends 'main/base.html' %}
{% block tit%} Home {% endblock %}

{%block con %}
<div class="container">


  </div>
<div
class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
style="background-image: url('https://www.rcu.gov.sa/mediaportal/2ogp3yqp/5bbd98ec-ef7d-e811-90f4-e3a3d37b1aef.jpg'); 
height: 100vh;"
>
<h1 class="mb-3 h2 justify-content-center align-items-center"><br><br><br>المملكة العربية السعودية</h1>

<p class="fs-1">
<br><br><br>
مركز السياحة العالمي في عام 2030
</p>
</div>

{% endblock %}