{% extends 'main/base.html' %}
{% block tit%} Mekkah {% endblock %}

{% block con%}
<div class="container">

  </div>
<div
class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
style="background-image: url('/static/images/makbig.webp'); background-size: cover; 
height: 100vh;"
>
<h1 class="mb-3 h2 text-dark justify-content-center align-items-center"><br><br>مكة المكرمة </h1>

<p class="fs-1 text-dark">
<br><br>
مكة المكرمة  قبلة المسلمين  
</p>
</div>


    
    
    <section class="text-center">
        <h4 class="mb-5"><strong>اماكن للسياحة</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple ripple-surface-light" data-mdb-ripple-color="light" >
                <img src="  /static/images/zmzm.jpg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">بئر زمزم</h5>
                <p class="card-text">
                  بئر زمزم تقع شرق الكعبة المشرفة بصحن المطاف محاذية للملتزم ، وهي بئر قديمة العهد ترجع إلى زمن إسماعيل عليه السلام .
                </p>
                <a href="https://gph.gov.sa/index.php/ar/about-the-two-holy-mosques-ar/grand-mosque-ar/2020-05-28-11-13-30" class="btn btn-primary " target=”_blank”>بئر زمزم</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <video class="w-100 h-100" autoplay loop muted>
                    <source src="/static/images/tower.mp4" type="video/mp4" />
                  </video>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">متحف برج الساعة</h5>
                <p class="card-text">
                  
                  متحف برج الساعة هو متحف فلكي يقع في شرفة برج الساعة، بمكة المكرمة، وتقوم على تشغيله مؤسسة محمد بن سلمان بن عبدالعزيز "مسك الخيرية"،                </p>
                <a href="https://linktr.ee/BLVDRUHCITY " class="btn btn-primary" target="_blank">برج الساعة</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="/static/images/noor.jpg" class="img-fluid">
                <a href="">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">جبل النور</h5>
                <p class="card-text">
                  يعد جبل النور - أو جبل الإسلام - من أبرز وأشهر جبال مكة                </p>
                <a href="https://riyadhfront.com/Home"  target="_blank" class="btn btn-primary">جبل النور</a>
              </div>
            </div>
          </div>
        </div>
      </section>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    


{% endblock %}