{% extends 'main/base.html' %}
{% block tit%} Riyadh {% endblock %}

{% block con%}
<div class="container">
  </div>
<div
class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
style="background-image: url('/static/images/riyadhBig.jpg'); background-size: cover; 
height: 100vh;"
>
<h1 class="mb-3 h2 justify-content-center align-items-center"><br><br><br>الرياض</h1>

<p class="fs-1">
<br><br><br>
الرياض هي عاصمة المملكة العربية السعودية وهي من اكبر المدن من حيث المساحة والسكان 
</p>
</div>


    
    
    <section class="text-center">
        <h4 class="mb-5"><strong>اماكن للسياحة</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple ripple-surface-light" data-mdb-ripple-color="light" >
                <img src="  /static/images/KAFD.jpeg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">KAFD</h5>
                <p class="card-text">
                 المدينة المالية حيث توجد جميع البنوك المركزية في المملكة
                </p>
                <a href="https://www.kafd.sa/" class="btn btn-primary " target=”_blank”>KAFD</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <video class="w-100 h-100" autoplay loop muted>
                    <source src="/static/images/thumbnail_TktHO5QpADZ3iq99wg1u.mp4" type="video/mp4" />
                  </video>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">البوليفارد</h5>
                <p class="card-text">
                    اكبر واحدث المناطق الترفيه في الرياض 
                </p>
                <a href="https://linktr.ee/BLVDRUHCITY " class="btn btn-primary" target="_blank">BLV</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="/static/images/riyfront.jpg" class="img-fluid">
                <a href="">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">واجهة الرياض</h5>
                <p class="card-text">
                        اكبر منطقة تسوق و شركات بالرياض
                </p>
                <a href="https://riyadhfront.com/Home"  target="_blank" class="btn btn-primary">RiyadhFront</a>
              </div>
            </div>
          </div>
        </div>
      </section>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    


{% endblock %}