
{% extends 'pages/base.html' %}
{% load static %}
{%block title%}Riyadh City{%endblock%}
{% block content %}
<video autoplay loop muted plays-inline class="back-video">
   <source src="{% static 'imges/Riyad.mp4' %}" type="video/mp4" />
 </video>
 <div class="content">
   <h1 class="text-uppercase">Enjoy a Delightful Experience in<br>Saudi Arabia's Capital</h1>
   <p>
     <br />Riyadh! Riyadh is one of the Kingdom's most visited tourist destinations because it successfully combines traditional Arab culture with modern civilization.
      Go on an unforgettable exploration tour to experience everything that this lovely city has to offer.<br />
   </p>
   <br /><a href="http://127.0.0.1:8000/VideoR/" class="btn"><button>LET'S GO</button></a>
 </div>
  </div>

 </div>
{% endblock %}

