{% extends 'main/home.html' %}

{% block text_h1 %}Abha{%endblock%}

{% block text_p %}Where the beauty of nature and the magic of heritage meet in the heart of southern Saudi Arabia{%endblock%}

{%block img1%}<img src="/static/img/abha/ab1.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img2%}<img src="/static/img/abha/ab2.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img3%}<img src="/static/img/abha/ab3.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img4%}<div class="video">
    <video autoplay loop muted plays-inline ><source src="/static/img/video.mp4" type="video/mp4"></video>
  </div>{%endblock%}





{% block hotels_img %}<div class="img1"><img src="/static/img/abha/hotels/h1.webp"></div>{%endblock%}
{% block hotels_name %}<div class="text_main"><h1>Sarwat Park Hotel</h1>
<p>Price : 620</p></div>{%endblock%}

{% block hotels_img1 %}<div class="img1"><img src="/static/img/abha/hotels/h2.webp"></div>{%endblock%}
{% block hotels_name1 %}<div class="text_main"><h1>Azd Hotel</h1>
<p>Price : 600</p></div>{%endblock%}

{% block hotels_img2 %}<div class="img1"><img src="/static/img/abha/hotels/h3.webp"></div>{%endblock%}
{% block hotels_name2 %}<div class="text_main"><h1>Abha Palace Hotel</h1>
<p>Price : 620</p></div>{%endblock%}


{% block res_name %}
<div class="img1"><img src="/static/img/abha/hotels/OIP.jpg"></div>
<div class="text_main"><h1>Naranj</h1><p>Rating : 4.1</p></div>
{%endblock%}

{% block res_name1 %}
<div class="img1"><img src="/static/img/abha/hotels/res2.webp"></div>
<div class="text_main"><h1>Indian nights restaurant</h1><p>Rating : 4.3</p></div>
{%endblock%}