{% extends 'main/base.html' %}
{% block title %} Abha {% endblock %}


{% block herovideo %}
<div class="video-container ">
    <div id="video-background">
        <video autoplay loop muted>
        <source src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/video%2Fabha.mp4?alt=media&token=aebb66a7-724c-46bf-86b8-1bfecf124210" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container  ">
    <hr class="featurette-divider">
    <div class="col-lg-12  text-center " >
    <p class="title text-center">
        Abha

    </p>
    <p class="phrase2 col-md-10 offset-md-1 justify-content-center mb-0 ">
        At an altitude of 2,200 m between the peaks of the Sarawat Mountains, Abha,
        is ideally located in southwestern region of Saudi Arabia. Its exceptional 
        location allows you to embrace the clouds and wonder around its mountaintops.
         While consumed with astonishment and amusement, you will feel like time traveling 
         hundreds of years back in time as you stumble upon castles and palaces built from
          the elements taken from their unspoiled environment. 
            Making your way through the fog, even in summertime, 
            you will easily find its plains and cliffs and its rich diversity. 
           
        
     </p>
     <div id="demo" class="collapse col-md-10 offset-md-1 justify-content-center mt-0  " >
        You will get a chance to learn closely about the artistic community,
         and how, hundreds of years ago, women extracted the bright colors 
         from trees and stones to redecorate the spaces and embellish their
          houses with, a type of abstract art, traditional Qatt Al Aseeri, 
          which is now recognized as a global symbol that expresses man and 
          place. In Abha, you can enjoy listening to old tales, as you wander 
          around ancient houses that date back to hundreds of years ago. These have been
           turned into museums by their owners and made available for the world to
            experience. During your tour, you can have a taste of the past by the
             diverse selection of traditional dishes offered by museum owners as a rich 
             sensory experience to top your visit. Make sure to get souvenirs engraved 
             with Al-Qatt Al-Aseeri art, which is listed by UNESCO in 2017 on its list of 
             intangible cultural heritage, before you leave.
   This way, you will leave with Abha deeply engraved in your memory.</div>
                 <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo" style="color: #8d0581;">More</button>
    </div>
</div>
      <br>
      <hr class="featurette-divider  " id="city" >
      <div class="row  " id="diverse">
        <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fdivider.png?alt=media&token=931b2437-cbf9-441f-b014-35026e5f0f17" height="">
      </div>
      <hr class="featurette-divider  " id="city" >
      <div class="container experience ">
        <div class="col-6 pb-3">
          <h3 class="mb-4 pb-3">Top Attractions </h3>
      </div>
        <div class="row row-cols-4 row-cols-md-4  g-3 rounded justify-content-center ">
            <div class="col">
              <div class="card rounded-3 ex ">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2F%20%E2%80%8Fabha-aljahel.png?alt=media&token=a460271f-34ed-4c52-962e-6e0949e8916b" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body ">
                  <h5 class="card-title  ">Al Jahel Museum</h5>
                  <p class="card-text">Al Jahel archaeological museum is one of Abha’s largest private museums. The museum has 23 halls containing 14,000 artifacts and precious heritage.</p>
                </div>
                <a href=""target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
               

              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="/static/img/‏abha-club.tiff" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Al-Wasim Equestrian Club </h5>
                  <p class="card-text"> 
                    Alwasim Stable is a must-visit destination for you. This is a great experience for beginners and families. Alwasim trainers are adequately trained and guarantee safety for trainees of all ages.
                  </p>
                </div>
                <a href="https://www.google.com/maps/place/18°19'15.8%22N+42°39'55.8%22E/@18.3210629,42.6676766,17z/data=!3m1!4b1!4m4!3m3!8m2!3d18.3210629!4d42.6654879?entry=ttu"target="_blank"
                 class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="/static/img/ ‏abha-exp.tiff" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Rijal Almaa village in Aseer</h5>
                  <p class="card-text">
                    Discover the hidden beauty of Rijal Almaa village,
                     its unique history, location,
                     architecture, and ruins. 
                    It has stone-built castles & colourful buildings.</p>
                </div>
                <a href="https://www.google.com/maps/place/سراة+عسير+(أبها)%E2%80%AD/@18.2464745,42.5146985,15.24z/data=!4m12!1m5!3m4!2zMTjCsDE0JzQ3LjMiTiA0MsKwMzAnNDIuMiJF!8m2!3d18.2464685!4d42.5117238!3m5!1s0x15e35514eb30819b:0x7f1ad21a793fa397!8m2!3d18.2503439!4d42.5138365!16s%2Fg%2F11ksl3grx_?entry=ttu"
                target="_blank" class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2F%20%E2%80%8Fabha2.png?alt=media&token=1ff9a99c-24b0-42ff-a84e-3e71aa7a8101" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Art Street</h5>
                  <p class="card-text"> Art Street in Abha is a vibrant and creative hub that showcases the artistic talents and cultural expressions of the region. The street comes alive with colorful murals, sculptures, and art installations, immersing visitors in a visually captivating experience.</p>
                </div>
                <a href="https://www.google.com/maps/place/شارع+الفن%E2%80%AD/@18.2147278,42.4984763,17z/data=!3m1!4b1!4m6!3m5!1s0x15e35563312d6305:0x83f6af7225315fa1!8m2!3d18.2147279!4d42.4936054!16s%2Fg%2F11f5px8y99?entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
          </div>
      </div>
     


{% endblock %}
{% block footer %}
<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
    <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Flogopu.png?alt=media&token=204714fd-518a-4a34-a0c9-3cc9d14c7c29" width="150px">
</a>
{% endblock %}