{% extends 'main/base.html' %}
  


{%block title%}Al Khobar{%endblock%}
{%block img%}
        <div class="home" style="
        position: relative;
        height: 70vh;
        width: 100%;
        background-image: linear-gradient(rgba(179, 175, 175, 0), rgba(0,0,0,9)), url('/static/imges/khobar.webp');
        background-size: cover;
        background-repeat:no-repeat;
        background-position:  center;">
        {%endblock%}

{% block content %}
<body style="background-color: rgb(0, 0, 0);"></body>

<div class="eastern pt-5 mt-5">
    <div class="row pt-5 ps-4 mt-5">
        <div class="col-12 col-md-6 order-2 order-md-1 mt-5">
            <div class="d-flex flex-column justify-content-center text-center align-items-center mt-5">
                <h1 class="pt-5 text-light  ">The Eastern Region Of Saudi Arabia: The City Of Al Khaba</h1>
            </div>
        </div>
            <div class="col-12 col-md-6 g-0 order-1 order-md-2 pt-3 mt-5">
                <p class="pt-5 text-light shadow-sm p-3 mb-5 rounded mt-5 "style="font-family: 'Work Sans', sans-serif;font-size: 15px;">It is one of the modern cities, and it seeks an important commercial center, and it is 25 kilometers away from the city of Dammam. The city of Al-Khobar is located on the western coast of the Arabian Gulf, a wonderful city that is considered the most beautiful of the cities of the Kingdom of Saudi Arabia. All the needs and residents of the huge complexes in addition to entertainment and tourism</p>
            </div>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="class col">
            <h1 class="border border-warning bor text-center text-light">Hotels</h1>
        </div>
    </div>
</div>
<div class="container "></div>
    <div class="d-flex flex-row text-center justify-content-center pt-5 ps-5 ">
        <div class="card bg-dark" style="width: 18rem;">
            <img src="/static/imges/barira.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-light"style="font-family: 'Patua One', cursive;font-size: 30px;">Braira</h5>
            <p class="card-text text-light"style="font-family: 'Work Sans', sans-serif;font-size: 15px;">It has a private beach area. Among the various facilities offered at this property are an outdoor swimming pool and a fitness centre. The resort features garden views, a children's playground, a 24-hour front desk, and free WiFi is available throughout the property.</p>
            </div>
        </div>
        <div class="d-flex flex-row text-center pt-5 ps-5 "></div>
            <div class="card bg-dark" style="width: 18rem;">
                <img src="/static/imges/spa.jpg" class="card-img-top" alt="...">
                <div class="card-body text-light">
                <h5 class="card-title" style="font-family: 'Patua One', cursive;font-size: 30px;">HDB Al Khobar Resort & Spa</h5>
                <p class="card-text"style="font-family: 'Work Sans', sans-serif;font-size: 15px;">Facing the beach in Al Khobar, HDB Al Khobar Resort & Spa is a 5-star property with a fitness centre, a garden and a shared lounge. This 5-star resort features room service and a 24-hour front desk. The property has a team of recreational activities and a concierge service</p>
                </div>
            </div>
        <div class="d-flex flex-row text-center pt-5 ps-5 "></div>
        <div class="card bg-dark pt" style="width: 18rem;">
            <img src="/static/imges/res.jpg" class="card-img-top" alt="...">
            <div class="card-body text-light">
            <h5 class="card-title"style="font-family: 'Patua One', cursive;font-size: 30px;">Grand Hyatt Alkhobar Hotel and Residences"</h5>
            <p class="card-text"style="font-family: 'Work Sans', sans-serif;font-size: 15px;">It is an accommodation with a terrace, a shared lounge, free private parking and a fitness centre. This 5-star hotel features a 24-hour front desk and room service, as well as free WiFi. A business center, concierge service and currency exchange are available for guests at the property.</p>
            </div>
        </div> 
    </div>
</div>
{%endblock%}
