{% extends 'main/base.html' %}
{% block title %} AlUla {% endblock %}


{% block herovideo %}
<div class="video-container ">
    <div id="video-background">
        <video autoplay loop muted>
        <source src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/video%2Falula.mp4?alt=media&token=4f0fd899-fd4b-4056-bed7-551c50813abf" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container  ">
    <hr class="featurette-divider">
    <div class="col-lg-12  text-center " >
    <p class="title text-center">
        AlUla - A Glamorous Destination that Makes Your Eyes Sparkle

    </p>
    <p class="phrase2 col-md-10 offset-md-1 justify-content-center mb-0 ">
        AlUla, with its rich details, is a historical mine people seek from 
        all over the world.  On its land cultures met, and many civilizations 
        were built, especially at Hegra, the first Saudi site to enter the 
        UNESCO World Heritage List. In its historical landmarks, you will discover
         hidden stories, as its rocks are full of obscure symbols, exquisite inscriptions 
        and texts leading back to the first century BC.
        
     </p>
     <div id="demo" class="collapse col-md-10 offset-md-1 justify-content-center mt-0  " >
        Its land still uncovers one secret after another leading us to new historical deductions every day. Its inhabitants welcome you with smiles and joy, coming from the generosity of the Arab culture.  The restaurants here offer your tastebuds a special experience, surprising you with a combination of innovative dishes in front of amazing views. Its unique terrain gives you the chance of living exceptional experiences such as rock climbing, hiking, and camping in the beautiful desert under a starry sky, in addition to seasonal events and musical and cultural activities combining a rich history with a modern taste.        </div>
                 <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo" style="color:rgb(199, 50, 50);">More</button>
    </div>
</div>
      <br>
      <hr class="featurette-divider  " id="city" >
      <div class="row  " id="diverse">
        <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fdivider5.png?alt=media&token=453e1d7d-810f-4e2d-974f-a22b54edbe50" height="">
      </div>
      <hr class="featurette-divider  " id="city" >

      <div class="container experience ">
        <div class="col-6 pb-3">
            <h3 class="mb-4 pb-3">Top Attractions </h3>
        </div>
        <div class="row row-cols-4 row-cols-md-4  g-3 rounded justify-content-center ">
            <div class="col">
              <div class="card rounded-3 ex ">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Foldtown.webp?alt=media&token=69a8b1e8-9df8-4e65-9460-0ef3af829b83" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body ">
                  <h5 class="card-title  ">AlUla Old Town </h5>
                  <p class="card-text"> Books of travelers since the 12th century talk a lot about the old town of AlUla and its importance in the Hijaz region, as it is the largest ancient city after Makkah.</p>
                </div>
                <a href="https://www.google.com/maps/search/alula+old+town/@26.6252663,37.9177492,17z/data=!3m1!4b1?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
               

              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fmuseum.webp?alt=media&token=1097f3a4-ef38-42a0-b3ab-dfc2f0282c19" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hijaz Railway Station at AlUla                </h5>
                  <p class="card-text"> 
                    AlUla has a rich history of human civilizations that settled in it due to its location on old trade and Hajj roads, therefore AlUla Railway Station is distinguished among the other 32 stations of the Hijaz Railway and is one of its main stations. 
                                  </p>
                </div>
                <a href="https://www.google.com/maps/place/محطة+العلا+سكة+حديد+الحجاز%E2%80%AD/@26.6030333,37.9427236,17z/data=!3m1!4b1!4m6!3m5!1s0x15a5ab06aded9cd5:0x1613c43783348bd0!8m2!3d26.6030333!4d37.9401487!16s%2Fg%2F11tfkpty0m?hl=ar&entry=ttu"target="_blank"
                 class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fmaraya.webp?alt=media&token=38501862-aa54-4620-9220-5f11d2b49300" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body ">
                  <h5 class="card-title">Maraya Concert Hall                </h5>
                  <p class="card-text">
                    Maraya Concert Hall was designed to be an artistic piece of work, with its mirrors reflecting the amazing natural beauty elements of AlUla surrounding the building. and it is in The Guinness Book of Records for being the biggest reflective building in the world.
                </p>
                </div>
                <a href="https://www.google.com/maps/place/مسرح+مرايا%E2%80%AD/@26.7431645,37.8673863,17z/data=!3m1!4b1!4m6!3m5!1s0x15a5b19c2b81fff9:0xd06c2532c97e13fe!8m2!3d26.7431645!4d37.8648114!16s%2Fg%2F11h3g70r99?hl=ar&entry=ttu"
                target="_blank" class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fjabal.webp?alt=media&token=a77b2a48-60db-4cd0-965b-671993ac455a" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Jabal Al-Fil </h5>
                  <p class="card-text">  
                    On soft golden sands, and amid captivating rock formations, Jabal Al-Fil stands as a natural sculpture that embraces the sky, with a height of more than 50 meters. It was shaped by natural factors over the years in the form of an elephant, forming a landmark of the amazing nature in AlUla.                </p>
                </div>
                <a href="https://www.google.com/maps/place/جبل+الفيل%E2%80%AD/@26.6389521,38.1389742,11.08z/data=!4m10!1m2!2m1!1sJabal+Al-Fil!3m6!1s0x15a452ac509a65f3:0x70558fd82412c836!8m2!3d26.6891951!4d37.981603!15sCgxKYWJhbCBBbC1GaWxaDiIMamFiYWwgYWwgZmlskgEEcGVha5oBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VOSGIyTm1NMk5uRUFF4AEA!16s%2Fg%2F11g6nkpf1n?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
          </div>
      </div>
      {% endblock %}
      {% block footer %}
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Flogored.png?alt=media&token=1262fd35-f869-4e10-ae87-3ce3dc8c4dc8" width="150px">
      </a>
      {% endblock %}