{% extends 'main/home.html' %}

{% block text_h1 %}Al-Ula{%endblock%}

{% block text_p %}The spirit of history pulsates in a land of wonders and stunning beauty{%endblock%}

{%block img1%}<img src="/static/img/alula/alu.jpeg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img2%}<img src="/static/img/alula/alu1.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img4%}<img src="/static/img/alula/alu4.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img3%}<div class="video">
    <video autoplay loop muted plays-inline ><source src="/static/img/video.mp4" type="video/mp4"></video>
  </div>{%endblock%}


{% block hotels_img %}<div class="img1"><img src="/static/img/alula/hotels/h1.webp"></div>{%endblock%}
{% block hotels_name %}<div class="text_main"><h1>Linda Country Cottage</h1>
<p>Price : 820</p></div>{%endblock%}

{% block hotels_img1 %}<div class="img1"><img src="/static/img/alula/hotels/h2.webp"></div>{%endblock%}
{% block hotels_name1 %}<div class="text_main"><h1>Ashar Tented ResortOpens</h1>
<p>Price : 1200</p></div>{%endblock%}

{% block hotels_img2 %}<div class="img1"><img src="/static/img/alula/hotels/h3.webp"></div>{%endblock%}
{% block hotels_name2 %}<div class="text_main"><h1>Almazham hotel room resort</h1>
<p>Price : 300</p></div>{%endblock%}


{% block res_name %}
<div class="img1"><img src="/static/img/alula/hotels/res1.jpg"></div>
<div class="text_main"><h1>Salt</h1><p>Rating : 4.6</p></div>
{%endblock%}

{% block res_name1 %}
<div class="img1"><img src="/static/img/alula/hotels/res2.jpg"></div>
<div class="text_main"><h1>Myazu</h1><p>Rating : 4.5</p></div>
{%endblock%}