{% extends 'main/base.html' %}

{%block title %} Jeddah City {%endblock%}

{%block content%}
    <div class="row p-5 rounded ">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <h1>Jeddah</h1>
                <p style="text-align: center;"> Journey to Jeddah: Where Tradition and Modernity Embrace, and Every Sunset Paints a New Adventure.</p>
            </div>

        </div>
        <div class="col-12 col-md-6 g-0 order-1 order-md-2">
            <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
            src="/static/images/jjedah1.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
        />
    
        <img
            src="/static/images/jjeddah2.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
        />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
        <img
            src="/static/images/jjeddah4.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
        />
    
        <img
            src="/static/images/jjeddah3.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
        />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
        <img
            src="/static/images/jjeddah5 (2).jpg"
            class="w-100 shadow-1-strong rounded mb-4"
        />
    
        <img
            src="/static/images/jjedah4.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
        />
        </div>
    </div>
    <!-- Gallery -->
        </div>
    </div>
    <!------------video----------------------------->
<div class="row p-3">

    <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/lIpy2jqnNZs"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>
</div>
    {%endblock%}