{% extends 'main/base.html' %}
{% block title %} Jeddah {% endblock %}


{% block herovideo %}
<div class="video-container ">
    <div id="video-background">
        <video autoplay loop muted>
        <source src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/video%2Fjeddah.mov?alt=media&token=be8afbf2-466a-4729-bdd4-c0c9260d346e" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container  ">
    <hr class="featurette-divider">
    <div class="col-lg-12  text-center " >
    <p class="title text-center">
        Jeddah - A seaside city filled with beauty 

    </p>
    <p class="phrase2 col-md-8 offset-md-2 justify-content-center mb-0 ">
        When you visit Jeddah, you will have the opportunity to witness a 
        rich heritage celebrated by UNESCO. From “Historical Jeddah” to the 
        antique designs of balconies, stone walkways and ancient sidewalks, 
        this destination unearths secrets that have inspired artists, 
        writers and visitors alike for hundreds of years.
        
     </p>
     <div id="demo" class="collapse col-md-8 offset-md-2 justify-content-center mt-0  " >
        Here, you will have a chance to see magnificent sunsets shimmering off the divine Red Sea shores as well as having magical diving experiences featuring colorful coral reefs. Whether on land or under the sea, you won’t soon forget Jeddah’s many year-round splendors. 
        </div>
                 <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo" style="color:rgb(44, 163, 171);">More</button>
    </div>
</div>
      <br>
      <hr class="featurette-divider  " id="city" >
      <div class="row " id="diverse">
        <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fdivider4.png?alt=media&token=88a11b43-2bb3-4f4f-9dbf-e8cc78b84570" height="">
      </div>
      <hr class="featurette-divider  " id="city" >

      <div class="container experience ">
        <div class="col-6 pb-3">
            <h3 class="mb-4 pb-3">Top Attractions </h3>
        </div>
        <div class="row row-cols-4 row-cols-md-4  g-3 rounded justify-content-center ">
            <div class="col">
              <div class="card rounded-3 ex ">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2FAlshallal.webp?alt=media&token=c0616d90-e27f-4232-8e8d-354abac99b16" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body ">
                  <h5 class="card-title  ">Al Shallal Theme Park </h5>
                  <p class="card-text">Jeddah is known for its lively ambiance, and its joyfulness is reflected in the amusement and theme parks. you won’t miss seeing one of the most exciting and thrilling rides, the rollercoaster which appears from Alshallal theme park .</p>
                </div>
                <a href="https://www.google.com/maps/place/Al+Shallal+Theme+Park,+الشاطئ،+جدة+23413%E2%80%AD/@21.568984,39.1133793,17z/data=!3m1!4b1!4m6!3m5!1s0x15c3db27d89aaaed:0x65a5f7d1e50da890!8m2!3d21.568984!4d39.1108044!16s%2Fg%2F12hn49m34?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
               

              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2FFountain.webp?alt=media&token=b71db047-57e8-43f3-aced-3f63ab62f9f1" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">King Fahd’s Fountain </h5>
                  <p class="card-text"> 
                    Visible from all across the city, King Fahd Fountain is a much-loved Jeddah landmark, and a 30-year-old monument in the middle of the Red Sea. At 312 meters high, its waters decorate the sunset of Jeddah.                              </p>
                </div>
                <a href="https://www.google.com/maps/place/نافورة+الملك+فهد%E2%80%AD/@21.5156556,39.1476261,17z/data=!3m1!4b1!4m6!3m5!1s0x15c3c57a16912335:0x15ad2b6a03572e0f!8m2!3d21.5156556!4d39.1450512!16s%2Fm%2F02627fs?hl=ar&entry=ttu"target="_blank"
                 class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fsea.webp?alt=media&token=3d8eb2e2-2f36-4a18-99ce-262c6b09b2fa" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body pb-4">
                  <h5 class="card-title">Fakieh Aquarium  </h5>
                  <p class="card-text">
                    Located just off Al Kurnaysh Road on Jeddah’s north corniche, Fakieh Aquarium is the first marine exhibition of its kind in Saudi Arabia, and it’s no coincidence that it finds itself within earshot of the city’s lapping Red Sea.
                </p>
                </div>
                <a href="https://www.google.com/maps/place/فقيه+أكواريوم%E2%80%AD/@21.5708808,39.1121298,17z/data=!3m1!4b1!4m6!3m5!1s0x15c3db26f0d96355:0x25df656d9311cb07!8m2!3d21.5708808!4d39.1095549!16s%2Fg%2F1hjglz_np?hl=ar&entry=ttu"
                target="_blank" class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Ftayebet.webp?alt=media&token=b7439e9b-6b52-46b2-82b9-9a64cde235d7" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tayebat Museum </h5>
                  <p class="card-text">  
                    For a fascinating look into Jeddah’s long and cosmopolitan past, take a trip to the Tayebat Museum for a superbly curated representation of the city’s 2,500-year history., the museum is housed in a multiroom complex that re-creates the traditional Hijazi architecture of the old city.
                </p>
                </div>
                <a href="https://www.google.com/maps/place/متحف+مدينة+الطيبات+العالمية+للعلوم+والمعرفة%E2%80%AD/@21.5811628,39.1794845,17z/data=!3m1!4b1!4m6!3m5!1s0x15c3d0f5687c6755:0x2eb6eb4b515cd77c!8m2!3d21.5811628!4d39.1769096!16s%2Fg%2F120wkvxm?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
          </div>
      </div>
      {% endblock %}
      {% block footer %}
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fblogo.png?alt=media&token=71562c6b-39de-48de-87c9-2100e25eb228" width="150px">
      </a>
      {% endblock %}
