{% extends 'main/home.html' %}

{% block text_h1 %}Makkah{%endblock%}

{% block text_p %}Where humility and predestination won in the heart of the Noble Sanctuary and the spirituality of Hajj and Umrah{%endblock%}

{%block img1%}<img src="/static/img/makkah/makkah7.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img2%}<img src="/static/img/makkah/makkah2.webp" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img3%}<img src="/static/img/makkah/mak.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}
{%block img4%}<img src="/static/img/makkah/makkah5.jpeg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="100%" height="500px">{%endblock%}



{% block hotels_img %}<div class="img1"><img src="/static/img/makkah/hotels/R.jpg"></div>{%endblock%}
{% block hotels_name %}<div class="text_main"><h1>Makkah Clock Royal Tower</h1>
<p>Price : 675</p></div>{%endblock%}

{% block hotels_img1 %}<div class="img1"><img src="/static/img/makkah/hotels/th.jpg"></div>{%endblock%}
{% block hotels_name1 %}<div class="text_main"><h1>Dar Al Tawhid Makkah</h1>
<p>Price : 900</p></div>{%endblock%}

{% block hotels_img2 %}<div class="img1"><img src="/static/img/makkah/hotels/o.jpg"></div>{%endblock%}
{% block hotels_name2 %}<div class="text_main"><h1>Swissotel Makkah</h1>
<p>Price : 649</p></div>{%endblock%}


{% block res_name %}
<div class="img1"><img src="/static/img/makkah/hotels/res-1.jpg"></div>
<div class="text_main"><h1>Baytoti</h1><p>Rating : 4.2</p></div>
{%endblock%}

{% block res_name1 %}
<div class="img1"><img src="/static/img/makkah/hotels/res-2.jpg"></div>
<div class="text_main"><h1>Boga</h1><p>Rating : 4.1</p></div>
{%endblock%}
