{% extends 'main/base.html' %}
{% block title %} Makkah {% endblock %}


{% block herovideo %}
<div class="video-container ">
    <div id="video-background">
        <video autoplay loop muted>
        <source src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/video%2Fmakkah.mov?alt=media&token=074073fc-be56-476f-96ae-025fe34ed853" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container  ">
    <hr class="featurette-divider">
    <div class="col-lg-12  text-center " >
    <p class="title text-center">
        Makkah - The City that Embraces the Qiblah of Muslims

    </p>
    <p class="phrase2 col-md-10 offset-md-1 justify-content-center mb-0 ">
        In the past, it was called Bakkah, Umm Al-Qura, and Al-Balad Al-Amin, 
        and its mountains witnessed the first revelation.  Its visitors stand in 
        amazement in front of the honorable Kaaba, the qiblah of Muslims from all over 
        the world, in the middle of Masjid Al-Haram with its majestic view, surrounded by 
        thousands of worshipers all the time. 
           
        
     </p>
     <div id="demo" class="collapse col-md-10 offset-md-1 justify-content-center mt-0  " >
        Makkah welcomes millions of Muslims who go to Hajj or Umrah.  It is the purest spot on
         Earth, and the holiest Islamic destination in the world, and it includes
          historical destinations that reveal immortal stories that left their mark 
          in Islamic history.  It was also an important commercial station for mobile
           trade caravans between the north and south, and an area rich in literary forums
           , and seasonal markets that highlighted its cultural and commercial status.
            Makkah receives guests from all over the world but entry to the Haram area is
             for Muslims only.
        .</div>
                 <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo" style="color:black;">More</button>
    </div>
</div>
      <br>
      <hr class="featurette-divider  " id="city" >
      <div class="row " id="diverse">
        <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fdivider2.png?alt=media&token=0ac0f51b-7115-4209-9ae4-904933ab1621" height="">
      </div>

      <hr class="featurette-divider  " id="city" >
      <div class="container experience  ">
        <div class="col-6 pb-3">
          <h3 class="mb-4 pb-3">Top Attractions </h3>
      </div>
        <div class="row row-cols-4 row-cols-md-4  g-3 rounded justify-content-center ">
            <div class="col">
              <div class="card rounded-3 ex ">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fabraj2.webp?alt=media&token=8d182182-df3d-4bda-b49c-1d7ba1b62ffe" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body ">
                  <h5 class="card-title  ">Abraj Al-Bait</h5>
                  <p class="card-text">The majestic skyscrapers stand steps away from the first qiblah for Muslims in the Grand Mosque in Makkah, including the tallest clock tower in the world. The towers consist of 76 floors, including 7 luxury five-star hotels, offering a distinctive hospitality experience, with vibrant spiritual views.</p>
                </div>
                <a href="https://www.google.com/maps/search/Abraj+al+bait/@21.416091,39.826319,14z?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
               

              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fbayadiyah.webp?alt=media&token=9033dca6-9e98-434a-b267-b2f56cb17cf3" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bayadiyah Palace </h5>
                  <p class="card-text"> 
                   is one of the oldest palaces in the region.  The palace is distinguished by its location at the top of the city, near Al Abtah Valley where the prophet (PBUH) stayed on his farewell pilgrimage.  Ayn Zubaydah passes through the palace, allowing many wells to exist in its openings.
                  </p>
                </div>
                <a href="https://www.google.com/maps/place/قصر+البياضية%E2%80%AD/@21.4399521,39.8386332,17z/data=!3m1!4b1!4m6!3m5!1s0x15c20367506e1f95:0x7f61803d29e5b282!8m2!3d21.4399521!4d39.8386332!16s%2Fg%2F11bw5zvh9g?shorturl=1"target="_blank"
                 class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fmasjid.jpeg?alt=media&token=8cca2f6c-4f7c-4416-88a7-4b14edcd30d0" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body pb-4">
                  <h5 class="card-title">Masjid Al-Ji'ranah</h5>
                  <p class="card-text">
                    Mosques in Makkah receive special attention, especially those associated with the life of the Prophet Mohammad (PBUH). Among these mosques is Masjid Al- Ji'ranah, located in the east of Makkah. It is characterized by modern architecture that preserves heritage details,
                     which take you back to the time of its construction. </p>
                </div>
                <a href="https://www.google.com/maps/place/Aljorana+Mosque/@21.5682761,39.9512193,17z/data=!3m1!4b1!4m6!3m5!1s0x15c1fdda913429b7:0x94f293eaf7d6f855!8m2!3d21.5682761!4d39.9512193!16s%2Fg%2F121lmgd_?shorturl=1"
                target="_blank" class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fnimrah.webp?alt=media&token=3cb47143-e737-4cf4-a2ba-536aee19ed41" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Masjid Namirah</h5>
                  <p class="card-text"> Masjid Namirah is where the Prophet (PBUH) prayed Dhuhr and Asr combined in the Farewell Pilgrimage.  It is considered one of the most significant religious landmarks pilgrims pass through and pray in on the ninth day of Hajj, following the Sunnah of the Prophet (PBUH).</p>
                </div>
                <a href="https://www.google.com/maps/place/%E2%80%ABمسجد+نمرة%E2%80%AC%E2%80%8F%E2%80%AD/@21.3529694,39.9688903,17z/data=!3m1!4b1!4m6!3m5!1s0x15c2079bfa48d18b:0xba183d4bb2fa1507!8m2!3d21.3529694!4d39.9663154!16s%2Fg%2F1218dmdx?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
          </div>
      </div>
     


{% endblock %}
{% block footer %}
<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
    <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Flogopu.png?alt=media&token=204714fd-518a-4a34-a0c9-3cc9d14c7c29" width="150px">
</a>
{% endblock %}