{% extends 'main/base.html' %}
{% block title %} Riyadh {% endblock %}


{% block herovideo %}
<div class="video-container ">
    <div id="video-background">
        <video autoplay loop muted>
        <source src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/video%2Friyadh.mov?alt=media&token=efe47039-5f6f-4598-82b2-b8e1bcc3f046" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container  ">
    <hr class="featurette-divider">
    <div class="col-lg-12  text-center " >
    <p class="title text-center">
        Riyadh - Live the Modern Life to its Fullest 

    </p>
    <p class="phrase2 col-md-10 offset-md-1 justify-content-center mb-0 ">
        In the ever-growing and flourishing city of Riyadh, you will discover
         the birthplace of the Kingdom of Saudi Arabia, along with its historical 
         treasures hidden in the old palaces that witnessed the founding of the 
         kingdom. It is a destination for tourists from all over the globe who wish to
          discover a world of shopping, entertainment and business.
          The malls offer the most exciting shopping experience,
          and the sand dunes combined with the brightest stars in the sky present the most
           magical experience in nature.
        
     </p>
     <div id="demo" class="collapse col-md-10 offset-md-1 justify-content-center mt-0  " >
        It is an environment full of a natural variety 
          and unique characteristics that are intriguing for explorers. On the other side 
          of the bustling city, you can enjoy a variety of experiences in luxurious
           restaurants that offer their special services, and their elaborate
           international dishes. Simultaneously, the local Riyadh restaurants will
            tempt you with their authentic flavors and blend of spices originating 
            from Saudi culture. Everyone is happy in the city of Riyadh where the biggest 
            cultural events are always celebrated. Endless entertainment destinations are
             always emerging, 
        for the city’s visitors to have intriguing and renewing experiences.
        </div>
                 <button type="button" class="btn " data-bs-toggle="collapse" data-bs-target="#demo" style="color:rgb(48, 122, 62);">More</button>
    </div>
</div>
      <br>
      <hr class="featurette-divider  " id="city" >
      <div class="row  " id="diverse">
        <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fdivider3.png?alt=media&token=befa19da-8b68-4e44-b354-b68d9f11589e" height="">
      </div>
      <hr class="featurette-divider  " id="city" >
      

      <div class="container experience ">
        <div class="col-6 pb-3">
            <h3 class="mb-4 pb-3">Top Attractions </h3>
        </div>
        <div class="row row-cols-4 row-cols-md-4  g-3 rounded justify-content-center ">
            <div class="col">
              <div class="card rounded-3 ex ">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2FSkyBridge.webp?alt=media&token=ce149bf2-5265-4db7-b3a4-27bfc701f1af" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body ">
                  <h5 class="card-title  ">Sky Bridge </h5>
                  <p class="card-text">From a height of 300 meters in the sky , take in a stunning panoramic view of the beauty of the city through highly secure glass panels. These panels let you enjoy the view of the starry nights and contemplate the yellow lights reflected on the streets and buildings of Riyadh from the Sky Bridge.</p>
                </div>
                <a href="https://www.google.com/maps/place/Kingdom+Center+Sky+Bridge/@24.71197,46.6771259,17z/data=!4m10!1m2!2m1!1sSky+Bridge+at+Kingdom+Center!3m6!1s0x3e2ee72cb63c9975:0xd2972fb1611f2b05!8m2!3d24.71197!4d46.674551!15sChxTa3kgQnJpZGdlIGF0IEtpbmdkb20gQ2VudGVyWh4iHHNreSBicmlkZ2UgYXQga2luZ2RvbSBjZW50ZXKSARJ0b3VyaXN0X2F0dHJhY3Rpb26aASNDaFpEU1VoTk1HOW5TMFZKUTBGblNVTjRlbVo2TlVGbkVBReABAA!16s%2Fg%2F11pvgd4cz_?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
               

              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Fwadinamar.jpeg?alt=media&token=24ac4ef4-a396-4144-ac88-c3719f719be3" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Wadi Namar </h5>
                  <p class="card-text"> 
                    enables you to watch the roam of ducks’ flock and the spread of small fish in the Lake Dam. Inspirational thoughts will flow to your mind as you walk along the park’s paths that extend over 2,000m, amidst the starry sky at night, in a scene in which the reflected lights of the valley shine around.                  </p>
                </div>
                <a href="https://www.google.com/maps/place/شلال+وادي+نمار%E2%80%AD/@24.5719945,46.682309,17z/data=!3m1!4b1!4m6!3m5!1s0x3e2f0fdcb635dd23:0x3cef8838071be1f4!8m2!3d24.5719945!4d46.6797341!16s%2Fg%2F11bz08dkkb?hl=ar&entry=ttu"target="_blank"
                 class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Falmasmak.jpeg?alt=media&token=eb56f483-e45b-41d8-8b65-c9d353b41b25" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body pb-4">
                  <h5 class="card-title">Al Masmak Palace  </h5>
                  <p class="card-text">
                    The magnificent Al Masmak Palace stands erected gracefully in the middle of Riyadh city as a tourist destination having silently witnessed great events in the history of KSA foundation. The palace is a strong fort against enemies with its solid high walls.
                </p>
                </div>
                <a href="https://www.google.com/maps/place/قصر+المصمك%E2%80%AD/@24.6312313,46.7159919,17z/data=!3m1!4b1!4m6!3m5!1s0x3e2f05a68ffb8a25:0x436fa63786c42a7e!8m2!3d24.6312313!4d46.713417!16s%2Fg%2F11c6wmc65d?hl=ar&entry=ttu"
                target="_blank" class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Falfaisalia.jpeg?alt=media&token=67c94043-097f-4745-bda4-5971e696f572" class="card-img-top rounded-top-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Al Faisaliah Tower </h5>
                  <p class="card-text">  Al Faisaliah Tower is the first skyscraper in Saudi Arabia. Its hotel and all its facilities are equipped with the latest technologies. There is also a children’s amusement park, along with international shopping stores. The trip to the capital city is not complete without visiting it.
                </p>
                </div>
                <a href="https://www.google.com/maps/place/Servcorp+Al+Faisaliah+-+Coworking,+Offices,+Virtual+Offices+%26+Meeting+Rooms/@24.6902893,46.6875541,17z/data=!4m10!1m2!2m1!1sal+faisaliah+tower!3m6!1s0x3e2f00c467392b7b:0x1dd61ed19c8974d9!8m2!3d24.6902629!4d46.6849897!15sChJhbCBmYWlzYWxpYWggdG93ZXKSAQ9jb3dvcmtpbmdfc3BhY2XgAQA!16s%2Fg%2F11b67ff0yh?hl=ar&entry=ttu"target="_blank"
                class="card-footer bg-transparent border-dark-2 text-center text-decoration-none">Location <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></a>
              </div>
            </div>
          </div>
      </div>
      {% endblock %}
      {% block footer %}
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="https://firebasestorage.googleapis.com/v0/b/tuorisem.appspot.com/o/img%2Flogogree.png?alt=media&token=a14d9483-c9e9-4f8d-b08b-334ee11be7c3" width="150px">
      </a>
      {% endblock %}