{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}



<section class="">
    <div class="row py-lg-5">
  <div class="col-lg-10 col-md-8 mx-auto">
    
<h4 class="fw-light white_text" ></h4>
    <h1 class="fw-light white_text">Al-Ahsa</h1>
    <p class="lead  white_text">In the eastern Arabian Peninsula, the Al-Ahsa Oasis is a serial property comprising gardens, canals, springs, wells and a drainage lake,
         as well as historical buildings, urban fabric and archaeological sites.
          They represent traces of continued human settlement in the Gulf region from the Neolithic to the present,
           as can be seen from remaining historic fortresses, mosques, wells, canals and other water management systems.
            With its 2.5 million date palms, it is the largest oasis in the world. Al-Ahsa is also a unique geocultural landscape and an exceptional example of human interaction with the environment.
            The property shows the sustainable evolution of the oasis and of its associated human settlements, where the physical and functional relations between the natural landscape, the water springs, the water canalization system, the villages, and the cities create a continuously evolving human-created oasis environment. Al-Ahsa Oasis remains today the largest agricultural area in the Arabian Peninsula, and a working and living environment that has developed in direct continuity with its origins and its past.

The component parts of the property possess an evident topographical integrity presenting the ensemble of the elements that characterize and make an oasis possible: water springs, caves, mountains, flatlands, modern and historic canals and water lifting mechanisms, human settlements and natural drainage areas. The continuing use of the oasis as major agricultural zone where high-quality dates are produced and exported throughout the world, and the persistence of traditions and built elements from the past eras, are authentic in use preserving both the agricultural and the settlement / commercial integrity of the oasis functions.

Throughout the millennia, while constantly evolving, the integrity of relationships between the palm groves, the water sources and canals, the human settlements and the natural landscape has remained constant, adapting to the needs of the human societies that developed in the area. Water distribution and water abduction modifications in the past 40 years have aimed to maintain the very agricultural function of the oasis.

The extraordinary integrity of this urban / natural landscape can still be fully appreciated when observing from an elevated point the “sea” of palm trees and gardens that extends in every direction almost endlessly. The sheer size of the property permits to ensure the complete representation of all tangible attributes of the cultural landscape and of the social processes conveying its Outstanding Universal Value. The oasis constituting elements are contained within the boundaries of the property and clearly manifest their significance and exceptionality.

The unique scale of Al-Ahsa Oasis, the largest oasis in the world, is mirrored by the very size of the property, while its historic depth and the complexity of traditional oasis agricultural methods are represented by the major archaeological zones within the property, covering thousands of years of human settlement, and by the persistence of traditional oasis agricultural crops beside the dominant date palm, including the red rice variety typical of Al-Ahsa. The integrity of the property is reinforced by the continuity of human presence in the oasis villages and by the existence of both traditional historic souks (like Al-Qaysariyah in Al-Hofuf) and modern markets for the exchange of agricultural and handicrafts products of the oasis.

Landscape views and intangible attributes relating, for example, to food traditions, work songs and clothes contribute to expressing the property’s Outstanding Universal Value. All the integrity aspects (composition, relationships and functionality of attributes) necessary to sustain the Outstanding Universal Value are represented, and the serial site as a whole, with its component parts, allows the expression of the significance of the property to the highest degree. </p>
    
  </div>
</div>
</section>
{% endblock %}

{% block content_down %}

<div class="album py-5 bg-body-tertiary  ">
    <div class="container  ">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        <div class="col ">
          <div class="">
            <svg class="img31"></svg>
            <div class="card-body ">
              
              </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img32"></svg>
            
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img33"></svg>
            
          </div>

{%endblock %}
