{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}



<section class="">
    <div class="row py-lg-5">
  <div class="col-lg-10 col-md-8 mx-auto">
    
<h4 class="fw-light white_text" > </h4>
    <h1 class="fw-light white_text">Dammam</h1>
    <p class="lead  white_text">The Dammam metropolitan area, or Greater Dammam, is the largest metropolitan area in the Eastern Province of Saudi Arabia. It consists of "The Triplet Cities" of Dammam, Khobar, Dhahran, Qatif and their vicinities. It had a population of 2,190,900 million as of the 2022 census. It is known for the arts, pearl culturing, entertainment and popular music and sports legacies. The area includes a variety of natural landscapes, parks, and beaches with a recreational coastline to the Persian Gulf. The Greater Dammam area is also known for being one of the cornerstones of the oil industry with the world's largest oil company and most valuable company, Saudi Aramco, being based in Dhahran, as a result of the first oil well being dug in the area.
      Several tombs, remnants, artifacts and historical references suggest that the area was inhabited more than two thousand years ago. However, most vestiges of human habitation were buried by the encroaching desert sands and the area had been largely deserted for centuries.
      The area was first inhabited by a clan of Al Dossary tribe and a number of the Al Howela families in early 1923. The families led by Sheikh Ahmed ibn Abdullah Al Dossary migrated from Bahrain and were offered to choose land to settle in the area by King Abdul Aziz Ibn Sa'ud Al Sa'ud. Dammam was immediately chosen for its vicinity to the island of Bahrain as the clan hoped to head back there soon, but the British rule in the region made it very hard for them to move so they finally settled in Dammam. Years later, Sheikh Ahmed's brother and his family moved south to Al Khobar, which by that time was already inhabited. The arrival of the Sheikh Ahmed's brother resulted in a population boost for Khobar and closer ties with the bigger city of Dammam. When the modern Kingdom of Saudi Arabia was founded in 1932, the area was the site of several small settlements that depended on fishing and pearls for their survival.
      
      The area's transformation was launched with the discovery of oil in commercial quantities. The Dammam No.7 well proved beyond doubt that the Kingdom possessed a large supply of hydrocarbons. Over the span of a little more than half a century, the area has developed into a thriving hub of industry, commerce and science, and home to around two million people. New oil fields discovered during the 1940s and 1950s, now account for a quarter of the world's proven oil reserves. Experts and technicians from the Kingdom and from around the world gathered to help search for new oil fields and bring them on-stream.</p>
    
  </div>
</div>
</section>
{% endblock %}

{% block content_down %}

<div class="album py-5 bg-body-tertiary  ">
    <div class="container  ">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        <div class="col ">
          <div class="">
            <svg class="img41"></svg>
            <div class="card-body ">
              
              </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img42"></svg>
            
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img43"></svg>
            
          </div>

{%endblock %}
