{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}



<section class="">
    <div class="row py-lg-5">
  <div class="col-lg-10 col-md-8 mx-auto">
    
<h4 class="fw-light white_text" >the beginning Islam </h4>
    <h1 class="fw-light white_text">Makkah Al-Mukarramah Province.</h1>
    <p class="lead  white_text">Makkah is the Sacred City as well as the holiest and the absolute most honorable place on earth. The most truthful sources from which one can take news about its 
      history are the Noble Quran and the authentic prophetic narrations in this regard, and from these we can ascertain its ancient history as well as how it was prior the message and prophet hood  After the advent of Islam, Muslim scholars and historians have endeavoured to record 
      chronicles of Makkah in general history books as well as books concerned with the biographies of the Muslim scholars who lived in it.
      One of the most famous being “Chronicles of Makkah and its Ancient Monuments” authored by Abu Al-Waleed Al-Azraqi from the third century AH. Thereafter, one scholar who is considered to be the most prolific author regarding it and its history was Imam Taqiyyud-Deen Al-Fasi Al-Makki (775 AH – 832 AH).
       He entitled his book “The Therapy for those who Harbour Affection for the History of the Sacred City”.
      Establishment of Makkah history of mecca holy land for muslimsThe establishment of Makkah, with the history and foundations of Makkah is directly connected to Prophet Ibrahim as he left his wife Haajar and his son Isma’il in that area in compliance with the command of Allah.
      Imam Al-Bukhari reported on the authority of Ibn Abbas in the long narration in which the Prophet informed us that Ibrahim once came with his wife Haajar and his son Isma’il who was still a suckling infant, from ancient Syria to Makkah. At that time, Makkah had no water and nobody residing in it. Ibrahim took them both under the shade of a tree and left with them a bag of dates and a flask of water, then headed back to ancient Syria. As he was leaving, his wife Haajar called to him, saying: “Where are you going? How can you leave us in this deserted valley that has neither humans nor anything else (in terms of life)?” She repeated this a few times but he did not reply, so she asked: “Did Allah command you to do this?” Ibrahim replied: “Yes” Thereupon she said: “Then He shall never forsake us”.</p>
    
  </div>
</div>
</section>
{% endblock %}

{% block content_down %}

<div class="album py-5 bg-body-tertiary  ">
    <div class="container  ">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        <div class="col ">
          <div class="">
            <svg class="img1_1"></svg>
            <div class="card-body ">
              
              </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img1_2"></svg>
            
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img1_3"></svg>
            
          </div>

{%endblock %}
