{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}



<section class="">
    <div class="row py-lg-5">
  <div class="col-lg-10 col-md-8 mx-auto">
    
<h4 class="fw-light white_text" > </h4>
    <h1 class="fw-light white_text">Riyadh Province</h1>
    <p class="lead  white_text">The city is located in the Minṭaqat Al-Riyāḍ, one of the country’s 13 provinces, and is situated in the central portions of both the country and the larger Arabian Peninsula. Few of the world’s cities have transformed as rapidly as Riyadh, which grew from a small, fortified desert village in the 17th century into a modern metropolis of several million inhabitants in the 20th century. Area city, 600 square miles (1,550 square km). Pop. (2010) 5,188,286.

        Character of the city
        Life in Riyadh is concentrated around the city’s more than 4,000 mosques and its numerous busy shopping centres. The city’s central core and its many souks (marketplaces) attract heavy pedestrian traffic, emphasizing the city’s intense feeling of vitality. As residents of a major city in a mainly Muslim (see Islam) country, Riyadh’s inhabitants adhere to a number of social norms that include segregation of the sexes and the need to protect the privacy of the family. Recreational activities are often a family affair, and large public gatherings are mainly restricted to male attendants. However, many activity centres allow women and families to attend at special times or in reserved areas.
        
        Riyadh’s physical layout is dominated by its street system—a highly defined grid made up of 1.25-mile by 1.25-mile (2-km by 2-km) square blocks—which provides a network across the cityscape. This grid system is navigable, but it is also considered by some to be confining, because of its regimented compartmentalization of the city’s communities and neighbourhoods. </p>
    
  </div>
</div>
</section>
{% endblock %}

{% block content_down %}

<div class="album py-5 bg-body-tertiary  ">
    <div class="container  ">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        <div class="col ">
          <div class="">
            <svg class="img21"></svg>
            <div class="card-body ">
              
              </div>
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img22"></svg>
            
          </div>
        </div>
        <div class="col">
          <div class="">
            <svg class="img23"></svg>
            
          </div>

{%endblock %}
