#k {
    background-image: url("/static/f1.jpeg");
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 120vh;
}

@media (min-width: 10px) {
    #intro {
        margin-top: -58.59px;
    }
}

.top-nav {
    font-family: 'Abel', sans-serif;
    z-index: 5;
    top: 0px;
    left: 0px;
    position: static;

}

video-container {

    position: relative;
    height: 70vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intro {}

#video-background video {
    width: 100%;
    object-fit: cover;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Adjust the number of columns as needed */
    grid-gap: 10px;
    /* Adjust the gap between images as needed */
}

.gallery img {

    width: 100%;
    height: auto;
}

